html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    display: flex;
    flex-direction: column;
}

.row {
    height: 100px;
    width: 800px;
    display: flex;
}

.col {
    height: 100px;
    width: 100px;
    background-color: gray;
}
